<form action="/dinners" method="POST">
      <input type="text" name="name" placeholder="餐廳中文名稱" style="display: block; margin: 10px;">
      <input type="text" name="name_en" placeholder="input restaurant English name"
        style="display: block; margin: 10px; width: 250px;">
      <input type="text" name="category" placeholder="input category" style="display: block; margin: 10px;">
      
      <input type="text" name="image" style="display: block; margin: 10px;">
      
      <input type="text" name="location" placeholder="input location" style="display: block; margin: 10px;width: 400px;">
      <input type="text" name="phone" placeholder="input phone" style="display: block; margin:10px;">
      <input type="text" name="google_map" placeholder="google_map" style="display: block; margin:10px;">
      <input type="number" name="rating" placeholder="0~5" step="0.1" min="0" max="5" style="display: block; margin:10px;">
      <input type="text" name="description" placeholder="input description" style="display: block; margin:10px;">
      <button class="btn btn-outline-success" type="submit">新增</button>
</form>